<!DOCTYPE html>
<html>
<head>
	<title><%-videoInfo.snippet.title%> - Youtube98</title>
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<div class="center">
		<h1>Youtube98</h1>
		<form action="/search" method="POST">
			<label for="searchQuery">Youtube search: </label>
			<input type="text" name="searchQuery" id="searchQuery"></input>
			<input type="submit" value="Search"></input>
		</form>
	</div>

	<div class="center">
		<iframe name="videoframe" src="<%=iframeUrl%>" width="854" height="480"></iframe><br>
		
		<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
		<form class="inline" action="/control" target="dummyframe" method="POST">
			<input type="submit" name="pause" value="|| Pause" />
			<input type="submit" name="play" value="&gt; Play" />
		</form>
		<a href="<%=iframeUrl%>" target="videoframe">Refresh iFrame</a>
	</div>

	<h3><%-videoInfo.snippet.title%></h3>
	<p>
		<%-videoInfo.snippet.description.replace(/\n/g, "<br>")%>
	</p>
</body>
</html>